.navbar {
    background-color: #ffc20e;
}

.active {
    font-weight: bold;
}

.nav-link:hover {
    font-weight: bold;
    scale: 1.05;
}

#map {
    width: 80%;
    height: 500px;
    margin-top: 20px;
}